{% extends 'admin/base.html.twig' %}

{% block title %}New Mail{% endblock %}

{% block body %}
    <h1>Create new Mail</h1>

    {{ include('admin/mail/_form.html.twig') }}

    <a href="{{ path('admin_mail_index') }}">back to list</a>
{% endblock %}
